@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic|Roboto:400,700,700italic,400italic);
@import url('https://fonts.googleapis.com/css?family=Kanit:400,500,600,700,900');

:root{
  --black: #262626;
  --blue: #0019FF;
  --blue_light: #55C4F5;
  --dark_form: #221E1B;
  --green: #00E597;
  --grey: #BCBCBC;
  --grey_bg: #E3E3E3;
  --purple: #5B22B2;
  --purple_bg: #4919A2;
  --red: #FF3A4B;
  --yellow: #FFBA00;
  --yellow_light: #FFD44D;
  --yellow_lighter: #FFECB3;
}

body{
  font-family: 'Kanit';
  color: var(--black);
}

h1{
  text-transform: uppercase;
  font-weight: 700;
}
h2{
  text-transform: uppercase;
  font-weight: 700;
}
h3{
  margin-bottom: 20px;
  font-size:18px;
  text-transform: uppercase;
  font-weight: 600;
}
h4{
  font-size:13px;
  text-transform: uppercase;
  font-weight: 600;
}
h5{
  font-size:14px;
  margin: 0;
}
p{
  font-size:13px;
}

.bg-black{
  background: var(--black);
}
.bg-blue{
  background: var(--blue);
  color: white;
}
.bg-grey{
  background: var(--grey_bg);
}
.bg-purple{
  background: var(--purple_bg);
  color: white;
}
.bg-red{
  background: var(--red);
  color: white;
}
.bg-yellow{
  background: var(--yellow);
  color: white;
}

.border-black{
  border: 2px solid var(--black);
}

.btn{
  text-transform: uppercase;
  border-radius:30px;
  font-size:15px;
  font-weight: 600;
  padding:12px 29px;
  margin-bottom: 20px;
}

.btn-black{
  background-color: var(--black);
  color: var(--white);
}
.btn-black:hover{
  background-color: var(--black);
  color: var(--grey);
}
.btn-black-outline{
  border: 2px solid var(--black);
  color: var(--black);
}
.btn-black-outline:hover{
  background-color: var(--black);
  color: var(--white);
}
.btn-purple{
  background-color: var(--purple);
  color: var(--white);
}
.btn-purple:hover{
  background-color: var(--purple_bg);
  color: var(--grey);
}
.btn-purple-outline{
  border: 2px solid var(--purple);
  color: var(--purple);
}
.btn-purple-outline:hover{
  background-color: var(--purple);
  color: var(--white);
}
.btn-yellow{
  background-color: var(--yellow);
  color: var(--black);
}
.btn-yellow:hover{
  background-color: var(--yellow_light);
  color: var(--black);
}
.btn-yellow-outline{
  border: 2px solid var(--yellow);
  color: var(--yellow);
}
.btn-yellow-outline:hover{
  border: 2px solid var(--yellow);
  background-color: var(--yellow);
  color: var(--black);
}
.footer li{
  font-size: 13px;
}
.footer-note{
  color: var(--grey);
  font-size:13px;
}
.grey-waves{
  background: grey url("./images/sck_bg.png") ;
  background-repeat: repeat;
  background-size: 65px;
}
.measure-description{
  overflow: auto;
  height:220px;
}
.shadow-white{
  box-shadow:
    10px 10px 0px -2px var(--white),
    10px 10px 0px 0px var(--black);
}

.shadow-yellow{
  box-shadow: 10px 10px 0px -2px var(--yellow),
    10px 10px 0px 0px var(--black);
}
.shadow-grey{
  box-shadow: 10px 10px 0px -2px var(--grey),
    10px 10px 0px 0px var(--black);
}
.sc-card p{
  min-height: 110px;
}

.text-yellow{
  color: var(--yellow);
}
.text-blue{
  color: var(--blue);
}

/* Debug helper */
.outline{
  outline: 1px solid red;
}
